.pi{
    border-color: violet;
}
.beta{
    border-color: green;
}
.paou{
    border-color: lightblue;
}
img{
    width: 60%;
    border: lightblue solid 10px;
    border-radius: 20px;
}
hr{
    width:75%;
    margin: auto;

}
.main{
    
    display: flex;
    justify-content: center;
}
.text{
    text-align: left;
    width: 75%;
}
html{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

a{
    color: white;
    text-decoration: none;
}
header{
    text-align: center;
    padding: 10px;
    background-color: pink;
    clear: both;
    display: block;
    
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: lightblue;
    clear: both;
    padding:10px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    display: block;
}